.postList_wrapper {
  height: 100%;
  min-height: 100vh;
  h1 {
    text-align: center;
  }

  .postList_top {
    height: 100%;

    padding: 16px;

    .post_title {
      margin: 80px 0 40px 0;
    }
    .post_subtitle {
      max-width: 1240px;
      margin: 0 auto;

      margin-bottom: 40px;
    }

    .tag {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;

      width: 100%;
      max-width: 1240px;

      margin: 0 auto;

      .tag_button {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fed700;

        cursor: pointer;

        width: fit-content;

        color: #fff;

        font-size: clamp(14px, 2vw, 16px);

        &:hover {
          opacity: 0.8;
        }
        &::before {
          content: '#';
        }

        &.active {
          border-bottom: 3px solid #fed700;
          font-weight: bold;
        }
      }
    }
  }

  .postList_list {
    width: 100%;
    max-width: 1240px;

    margin: 40px auto;

    .post_cover {
      position: relative;

      width: 100%;
      height: 100%;
      min-height: 250px;

      overflow: hidden;

      object-fit: contain;

      img {
        display: block;
        height: 100%;
        object-fit: cover;
      }
    }

    h2 {
      margin: 8px;
    }
    .all_posts {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 16px;
      padding: 16px;
    }
    .post_link {
      list-style: none;

      transition-duration: 0.3s;

      &:hover {
        opacity: 0.8;
        transform: scale(0.9);
      }

      .post_link_link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .postLink_title {
          width: 100%;

          margin: 0;

          text-align: left;
          font-size: clamp(20px, 3vw, 24px);
        }
      }

      .post_tags {
        display: flex;
        gap: 8px;
        width: 100%;
        list-style: none;
        font-size: clamp(10px, 1vw, 12px);
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 40px 0;

  .pagination_button {
    display: flex;
    gap: 8px;

    button {
      background-color: transparent;
      border: none;
      color: #fff;

      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      &:disabled {
        color: #8d8d8d;
        cursor: auto;
      }
    }
  }
  .active {
    font-size: 20px;
    font-weight: bold;
  }
}
