.post_detail {
  width: 100%;
  max-width: 800px;

  margin: 0 auto;
  margin-top: 120px;

  padding: 0 24px;

  .post_detail_title {
    margin: 24px 0;

    font-size: 40px;

    @media (max-width: 768px) {
      font-size: 32px;
    }

    @media (max-width: 400px) {
      font-size: 24px;
    }
  }

  a {
    color: #fed700;
    text-decoration: underline;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 16px 0;
  }
  h2 {
    font-size: 32px;

    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 400px) {
      font-size: 24px;
    }
  }
  h3 {
    font-size: 26px;

    @media (max-width: 768px) {
      font-size: 24px;
    }

    @media (max-width: 400px) {
      font-size: 20px;
    }
  }

  h5,
  h6 {
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 400px) {
      font-size: 16px;
    }
  }

  .post_detail_box {
    padding: 24px 8px 80px 8px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  blockquote {
    border-left: 5px solid #fff;
    padding-left: 20px;
    margin: 16px 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    width: 20px;
    height: 20px;
  }
}

.post_detail_cover {
  height: 500px;

  position: relative;
  object-fit: contain;

  overflow: hidden;

  margin: 0 auto;

  img {
    width: 100%;

    object-fit: cover;
  }
}

@media screen and (max-width: 500px) {
  .post_detail_cover {
    height: 300px;
  }
}

ul > li > ul > li,
ul > li > ol > li {
  margin-left: 24px;
}
