footer {
  background-color: #000;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 100vw;

  bottom: 0;
  left: 0;

  small {
    font-size: 10px;
  }
}
