header {
  background-color: transparent;

  padding: 8px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  z-index: 10000;
}

.header_wrapper {
  max-width: 1240px;
  width: 100%;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    li {
      list-style: none;

      color: #fff;
    }
  }

  .header_snsLink {
    display: flex;
    gap: 16px;
  }
}

.sns_icon {
  stroke: #fff;
  fill: #fff;

  width: 20px;
  height: 20px;
}
