.home_skill_section {
  width: 100vw;
  height: 100%;

  padding: 80px 24px;

  .home_about_skill_section {
    .home_about_skill_list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 24px;
      }

      .home_about_skill_item {
        list-style: none;

        .home_skill_name {
          font-size: 14px;

          width: 100%;
          display: flex;
          justify-content: space-between;

          margin-bottom: 8px;

          font-weight: bold;
        }

        .home_skill_progress_bar {
          width: 100%;
          height: 4px;

          background-color: #333;

          border-radius: 100px;
          overflow: hidden;

          margin-bottom: 8px;

          .home_skill_progress_fill {
            height: 100%;
            background-color: #fed700;
          }
        }

        .home_skill_description {
          font-size: 12px;

          color: #bababa;
        }
      }
    }
  }
}
