.home_about {
  width: 100vw;
  height: 100%;

  padding: 80px 24px;

  h2 {
    margin: 8px;
  }

  .home_about_info {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 80px;

    margin: 56px 0;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 2px;
    }

    .home_about_img_frame {
      position: relative;

      width: 100%;
      height: 100%;

      @media (max-width: 768px) {
        height: 500px;
      }

      img {
        object-fit: cover;
      }
    }

    .home_about_list {
      .home_about_list_name01 {
        font-size: clamp(28px, 4vw, 32px);
        font-weight: bold;

        color: #fed700;
      }
      .home_about_list_name02 {
        font-size: clamp(20px, 3vw, 24px);
      }

      li {
        width: 100%;

        list-style: none;

        &:nth-of-type(3) {
          text-align: right;

          margin-top: 40px;
        }
      }
    }
  }
}

.home_about_title {
  font-size: clamp(16px, 4vw, 20px);
  color: #fed700;
  font-weight: bold;
}
.home_about_subtitle {
  font-size: clamp(24px, 5vw, 26px);
  font-weight: bold;

  margin-bottom: 24px;
}
